/* text justified */
p {
  text-align: justify;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold !important;
}

h1 {
  border-bottom: 2px black solid !important;
}

/* title margin and color */
h2,h3,h4 {
  margin-top: 90px !important;
  margin-bottom: 30px !important;
}

h2 {
  background-color: rgba(68,138,255,.1) !important;
}

blockquote {
  background-color: rgba(160,200,240,.1) !important;  
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  padding: 10px;  
}


/* admonitions */

.admonition {
  margin: 3em 0 !important;
  font-size: .9em !important;
}

.note {
  background-color: rgba(68,138,255,.1) !important;
}

.warning {
  background-color: rgba(255,145,0,.1) !important;
}

.tip {
  background-color: rgba(0,191,165,.1) !important;
}

.error , .danger {
  background-color: rgba(255,23,68,.1) !important;
}

